*.DS_Store
App/.idea
App/build
App/plugins/hu.sandorfehervari.displaydetector/frameworks
*.so
App/plugins/hu.sandorfehervari.displaydetector/src/android/obj
App/plugins/hu.sandorfehervari.displaydetector/src/android/sdk
