<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="hu.sandorfehervari.displaydetector" version="0.2.3">
        <name>DisplayReader</name>
        <description>Analogue display detection library</description>
        <license>Apache 2.0</license>
        <keywords>cordova,analogue,display,detection</keywords>
        <js-module src="www/detector.js" name="detector">
            <clobbers target="cordova.plugins.DisplayDetector" />
        </js-module>
        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="DisplayDetector">
                    <param name="ios-package" value="DisplayDetector"/>
                </feature>
            </config-file>
            <framework src="frameworks/opencv2.framework" custom="true"/>
            <framework src="frameworks/TesseractOCR.framework" custom="true"/>
            <framework src="Accelerate.framework"/>
            <framework src="AssetsLibrary.framework"/>

            <framework src="AVFoundation.framework"/>
            <framework src="CoreGraphics.framework"/>
            <framework src="CoreImage.framework"/>
            <framework src="CoreMedia.framework"/>
            <framework src="CoreVideo.framework"/>
            <framework src="QuartzCore.framework"/>
            <framework src="UIKit.framework"/>
            <framework src="Foundation.framework"/>

            <framework src="libstdc++.dylib"/>

            <header-file src="src/ios/colour_based_extractor.h" />
            <source-file src="src/ios/colour_based_extractor.cpp" />
            <header-file src="src/ios/constants.h" />
            <header-file src="src/ios/DetectorAlgorithm.h" />
            <header-file src="src/ios/DisplayDetector.h" />
            <source-file src="src/ios/DisplayDetector.m" />
            <header-file src="src/ios/element_extraction.h" />
            <source-file src="src/ios/element_extraction.cpp" />
            <header-file src="src/ios/IndicatorValueDetector.h" />
            <source-file src="src/ios/IndicatorValueDetector.cpp" />
            <header-file src="src/ios/OCREngine.h" />
            <source-file src="src/ios/OCREngine.m" />
            <header-file src="src/ios/preprocess_image.h" />
            <source-file src="src/ios/preprocess_image.cpp" />
            <header-file src="src/ios/ScaleDetector.h" />
            <source-file src="src/ios/ScaleDetector.mm" />            
            <header-file src="src/ios/utils.h" />
            <source-file src="src/ios/utils.cpp" />

            <framework src="tessdata" custom="true"/>

        </platform>
        <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="DisplayDetector" >
                    <param name="android-package" value="hu.sandorfehervari.analogdisplayreader.DisplayDetector"/>
                </feature>
            </config-file>

            <source-file src="src/android/DisplayDetector.java" target-dir="src/hu/sandorfehervari/analogdisplayreader" />
            <source-file src="src/android/DisplayDetectorJNI.java" target-dir="src/hu/sandorfehervari/analogdisplayreader" />

            <source-file src="src/android/libs/armeabi/libDisplayReaderJNI.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/liblept.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/libnative_camera_r2.2.0.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/libnative_camera_r2.3.3.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/libnative_camera_r3.0.1.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/libnative_camera_r4.0.0.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/libnative_camera_r4.0.3.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/libnative_camera_r4.1.1.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/libnative_camera_r4.2.0.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/libnative_camera_r4.3.0.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/libnative_camera_r4.4.0.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/libopencv_info.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/libopencv_java.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/libtess.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi/libtesseract.so" target-dir="libs/armeabi"/>
            <source-file src="src/android/libs/armeabi-v7a/libDisplayReaderJNI.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/armeabi-v7a/liblept.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/armeabi-v7a/libnative_camera_r2.2.0.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/armeabi-v7a/libnative_camera_r2.3.3.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/armeabi-v7a/libnative_camera_r3.0.1.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/armeabi-v7a/libnative_camera_r4.0.0.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/armeabi-v7a/libnative_camera_r4.0.3.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/armeabi-v7a/libnative_camera_r4.1.1.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/armeabi-v7a/libnative_camera_r4.2.0.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/armeabi-v7a/libnative_camera_r4.3.0.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/armeabi-v7a/libnative_camera_r4.4.0.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/armeabi-v7a/libopencv_info.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/armeabi-v7a/libopencv_java.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/armeabi-v7a/libtess.so" target-dir="libs/armeabi-v7a"/>
            <source-file src="src/android/libs/mips/libDisplayReaderJNI.so" target-dir="libs/mips"/>
            <source-file src="src/android/libs/mips/liblept.so" target-dir="libs/mips"/>
            <source-file src="src/android/libs/mips/libnative_camera_r4.0.3.so" target-dir="libs/mips"/>
            <source-file src="src/android/libs/mips/libnative_camera_r4.1.1.so" target-dir="libs/mips"/>
            <source-file src="src/android/libs/mips/libnative_camera_r4.2.0.so" target-dir="libs/mips"/>
            <source-file src="src/android/libs/mips/libnative_camera_r4.3.0.so" target-dir="libs/mips"/>
            <source-file src="src/android/libs/mips/libnative_camera_r4.4.0.so" target-dir="libs/mips"/>
            <source-file src="src/android/libs/mips/libopencv_info.so" target-dir="libs/mips"/>
            <source-file src="src/android/libs/mips/libopencv_java.so" target-dir="libs/mips"/>
            <source-file src="src/android/libs/mips/libtess.so" target-dir="libs/mips"/>
            <source-file src="src/android/libs/x86/libDisplayReaderJNI.so" target-dir="libs/x86"/>
            <source-file src="src/android/libs/x86/liblept.so" target-dir="libs/x86"/>
            <source-file src="src/android/libs/x86/libnative_camera_r2.3.3.so" target-dir="libs/x86"/>
            <source-file src="src/android/libs/x86/libnative_camera_r3.0.1.so" target-dir="libs/x86"/>
            <source-file src="src/android/libs/x86/libnative_camera_r4.0.3.so" target-dir="libs/x86"/>
            <source-file src="src/android/libs/x86/libnative_camera_r4.1.1.so" target-dir="libs/x86"/>
            <source-file src="src/android/libs/x86/libnative_camera_r4.2.0.so" target-dir="libs/x86"/>
            <source-file src="src/android/libs/x86/libnative_camera_r4.3.0.so" target-dir="libs/x86"/>
            <source-file src="src/android/libs/x86/libnative_camera_r4.4.0.so" target-dir="libs/x86"/>
            <source-file src="src/android/libs/x86/libopencv_info.so" target-dir="libs/x86"/>
            <source-file src="src/android/libs/x86/libopencv_java.so" target-dir="libs/x86"/>
            <source-file src="src/android/libs/x86/libtess.so" target-dir="libs/x86"/>
            <source-file src="src/android/libs/x86/libtesseract.so" target-dir="libs/x86"/>

            <source-file src="tessdata/eng.traineddata" target="assets/tessdata"/>
        </platform>
    </plugin>